.App {
	text-align: center;
	transition: 0.5s;
	background: url(https://rare-gallery.com/thumbs/572673-landscape-scotland.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.clear-background {
	background: radial-gradient(#559fe9, #c0dfff);;
	
	
}

.snow-background {
	background-color: #212e49;
}

.rain-background {
	background-color: #254d76;
}

.default-background {
	background-color: #c2d7ed;
}

/* .container{

} */

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.weather-details-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.icon {
	width: 120px;
	height: 120px;
	margin: 0px;
}

.weather {
	margin-right: 20px;
}
